fastapi
uvicorn
python-multipart
python-dotenv
pydantic

groq
tavily-python

langchain-core
langchain-community
langchain-huggingface

chromadb
sentence-transformers

pypdf
requests

openai-whisper

torch